* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: rgb(235, 235, 235);
    font-family: 'Open Sans', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', serif;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: rgb(0, 0, 0);
    height: 66px;
}

header * {
    color: white;
    margin: 0px;
    padding: 0px;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
    font-family: 'Staatliches';
}

header .logo-text {
    margin-top: 15px;
}

header .logo-text span {
    color: rgb(0, 140, 255);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 180px;
    height: 137%;
    display: none;
    z-index: 8888888888;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}


header ul li ul li a {
    padding: 10px;
    background: rgb(22, 22, 22);
    font-weight: normal;
}

header ul li ul li a:hover {
    background: rgb(39, 39, 39);
    transition: 0.2s;
}

header ul li ul li a.logout {
    color: rgb(184, 7, 7);
}

header ul li ul li a.logout:hover {
    background: red;
    transition: 0.2s;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    background: rgb(27, 27, 27);
    transition: 0.2s;
}


header .menu-toggle {
    display: none;
}

.page-wrapper a:hover {
    color: rgb(0, 162, 255);
    transition: .5s;
}

/* POST SLIDER */

.post-slider {
    position: relative;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3000;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 3000;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 320px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 300px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(190, 190, 190);

}

.post-slider .post-wrapper .post .post-info {
    height: 120px;
    padding: 0px 5px;
    border-radius: 5px;
}


.post-slider .post-wrapper .post .post-info i {
    padding: 5px 5px 5px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0px 0px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: rgb(7, 7, 7);
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li {
        width: 100%;
        z-index: 9999999;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
        z-index: 9999999;
    }
    header ul li ul li a{
        padding-left: 50px;
        z-index: 9999999;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.5em;
        z-index: 9999999;
    }
    header .logo {
        margin-left: .5em;
    }
}